<header>
  <h1>Task Manager</h1>
  <app-button
    color="{{ showAddTask ? 'red' : 'green' }}"
    text="{{ showAddTask ? 'Hide' : 'Show' }}"
    (btnClick)="toggleAddTask()"
  ></app-button>
</header>
