<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="visible">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Add Task"
      [(ngModel)]="text"
    />
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Day & Time"
      [(ngModel)]="day"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set reminder?</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
